---
layout: page
permalink: /talks/
---
<!-- style="column-count: 1" -->
<h1>Talks</h1>
<ul>
{% assign sorted = site.talks| reverse %}
{% for talk in sorted %}
    {% if talk.type != "podcast"%}
    <p>
    <i>{{ talk.title }}</i>  - {{ talk.event }}, {{ talk.date | date: "%d-%m-%Y"}}
        {% if talk.slides_url %}
            | <a href="{{ talk.slides_url}}">slides</a>
        {% endif %} 
        {% if talk.recording_url %}
            | <a href="{{ talk.recording_url}}">recording</a>
        {% endif %} 
    </p>
    {% endif %}
{% endfor %}
</ul>

<ul>
<h1>Podcasts</h1>
<!-- style="column-count: 1" -->
{% assign sorted = site.talks| reverse %}
{% for talk in sorted %}
    {% if talk.type == "podcast"%}
    <p>
    <i>{{ talk.title }}</i>, {{ talk.event }}, {{ talk.date | date: "%d-%m-%Y" }}
        {% if talk.recording_url %}
            | <a href="{{ talk.recording_url}}">recording</a>
        {% else %}
        {% endif %} 
    </p>
    {% endif %}
{% endfor %}
</ul>