---
layout: default
---


<article class="page">

<h4> </h4>

<div style="text-align: center;">
<img width="18%" src="{{ site.baseurl }}{{ site.avatar }}"/>
</div>


<div style="text-align: justify;">

 <div style="text-align: justify;">

  <h2>About me</h2>
  I'm a postdoctoral fellow at UC Berkeley, member of ELLIS, and incoming faculty at CWI Amsterdam. I obtained my PhD at the University of Amsterdam with research at Sigma Computing and the MIT Media Lab. Before academia, I was a data scientist for 2+ years, working on automating ML-driven data analysis pipelines.
  <p>
  I believe that tables are a promising modality for representation learning and generative models (e.g. LLMs): tables are everywhere and drive many high-value applications in organizations, from enterprises to governments.
  Therefore, I research <b>Table Representation Learning</b> (TRL) with the overall objective to make <b>insight retrieval from structured data a walk in the park</b> for everyone. Some of my research on this can be found below, but I also maintain an <a href="{{ site.baseurl }}/trl" target="blank">index of TRL research</a> in this emerging research area!
  </p>
  <p>
  To drive research around TRL and develop a new community, I founded the <a href="https://table-representation-learning.github.io" target="blank">Table Representation Learning workshop</a> series at NeurIPS in 2022.
  I organize various related efforts such as the <a href="https://www.dagstuhl.de/seminars/seminar-calendar/seminar-details/25182" target="blank">TRL Dagstuhl Seminar</a> and the Data Management for E2E ML workshop at SIGMOD, and review for various tracks/workshops at e.g. VLDB, SIGMOD, NeurIPS, ICLR, WWW.
  </p>

  <p>
    Are you interested in a PhD around TRL and applications in beautiful Amsterdam? I'll open 4-5 PhD positions and 1 postdoc position in 2025 and 2026, leave your info <a href="https://forms.gle/DqYMbj4uXZ5uUbAX7" target="_blank">here</a> if you are interested!
    I'm also seeking strong industry partners for collaboration, please reach out if your team is interested!
  </p>

  <p>
  👉 Read more in my <a href="https://madelonhulsebos.github.io/assets/CV.pdf" target="_blank"></b>CV</a>. 
</p>

  <div>
    <div style="text-align: center;">
        {% include svg-icons.html %}
    </div>
  </div>
  </p>

 </div>

 <h2>Selected projects</h2>
 <div style="text-align: justify;">
  {% for project in site.projects %}
    <h3>{{ project.title }}</h3>
    <!-- <center>{{ project.startdate }} - {{  project.enddate }}</center> -->
    <p>
      {{ project.content }}
    </p>
  {% endfor %}
</div>


<h2>Recent news</h2>
{% for post in site.posts limit:5 %}
  <div style="text-align: justify;">
    <li style="list-style-type: '- ';">
      <a href="{{ post.url }}">{{ post.title }}</a> <p  style="display:inline"> {{ post.date | date: "%b %d, %Y"}} </p>
      {{ post.excerpt }}
    </li>
  </div>
{% endfor %}

</article>
